{% extends "base.html" %}

{% block content %}
<h3 style="margin-top: 5%">{{ project.name }}<a href="{% url 'deleteProject' project.id %}" style="color: black"><span data-feather="trash-2" style="margin-bottom: 6px; margin-left: 5px"></span></a>
	<a href="{% url 'addBug' %}">
		<button type="button" class="btn btn-danger float-right" style="width: auto"><span data-feather="alert-octagon" style="margin-right: 5px"></span>Report Bug</button></a>
	<a href="{% url 'newTask' %}"> <button type="button" class="btn btn-primary float-right" style="margin-right: 5px"><span data-feather="plus-circle" style="margin-right: 5px"></span>New Task</button></a>
	</h3>

    <hr>
    <p>Description: {{ project.description }}</p>
    <div class="row" style="margin-top: 20px">
	<div class="col-md-12">
		<h5>Task</h5>

		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Task</th>
					<th>Summary</th>
					<th>Date</th>
					<th>Status</th>
					<th>Delete</th>
					<th>Update</th>
				</tr>
				{% for task in tasks %}
					<tr>
						<td>{{task.name}}</td>
						<td>{{task.summary}}</td>
						<td>{{task.date_created}}</td>
						<td>{{task.status}}</td>
						<td><a href="{% url 'deleteTask' task.id %}"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Remove</button></a></td>
						<td><a href="{% url 'updateTask' task.id%}"><button type="button" class="btn btn-success">Update</button></a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<span class="step-links float-right ">
        	{% if tasks.has_previous %}
            	<a href="?page=1">&laquo; first</a>
            	<a href="?page={{ tasks.previous_page_number }}">previous</a>
			{% endif %}

        	<span class="current">
            	Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
        	</span>

        	{% if tasks.has_next %}
            	<a href="?page={{ tasks.next_page_number }}">next</a>
            	<a href="?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
        	{% endif %}
    	</span>
	</div>

</div>
<div class="row" style="margin-top: 20px">
	<div class="col-md-12">
		<h5>Bug Report</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Issue</th>
					<th>Description</th>
					<th>Date</th>
					<th>Priority</th>
					<th>Status</th>
					<th>Delete</th>
					<th>Update</th>
				</tr>
				{% for bug in bugs %}
					<tr>
						<td>{{bug.issue}}</td>
						<td>{{bug.description}}</td>
						<td>{{bug.date_created}}</td>
						<td>{{bug.priority}}</td>
						<td>{{bug.status}}</td>
						<td><a href="{% url 'deleteBug' bug.id%}"><button type="button" class="btn btn-danger">Remove</button></a></td>
						<td><a href="{% url 'updateBug' bug.id%}"><button type="button" class="btn btn-success">Update</button></a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<span class="step-links float-right ">
        	{% if bugs.has_previous %}
            	<a href="?page=1">&laquo; first</a>
            	<a href="?page={{ tasks.previous_page_number }}">previous</a>
			{% endif %}

        	<span class="current">
            	Page {{ bugs.number }} of {{ bugs.paginator.num_pages }}.
        	</span>

        	{% if bugs.has_next %}
            	<a href="?page={{ bugs.next_page_number }}">next</a>
            	<a href="?page={{ bugs.paginator.num_pages }}">last &raquo;</a>
        	{% endif %}
    	</span>
	</div>
</div>
{% endblock%}