<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-light mb-3">
			  	<div class="card-header bg-dark">
			  		<h5 class="card-title">Totat Projects</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title text-dark">{{total_projects}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-light mb-3">
			  	<div class="card-header bg-dark">
			  		<h5 class="card-title">In Progress</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title text-dark">{{ Inprogress }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-light mb-3" >
			  	<div class="card-header bg-dark">
			  		<h5 class="card-title">Completed</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title text-dark">{{Completed}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
